<footer class="mt-0">
    <div class=" d-flex flex-column min-vh-100 f-info">
        <div class="f-info-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>&copy;wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="">Privacy</a>
            <a href="">Terms</a>
        </div>
    </div>
</footer>


<!-- <footer class="bg-dark text-white text-center p-3 position-fixed bottom-0 w-100">
    <div class="f-info">
        <div class="f-info-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>&copy;wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="">Privacy</a>
            <a href="">Terms</a>
        </div>
    </div>
</footer> -->
